{% extends "layout.html" %}
{% block content %}
	<div class="row">
		<div class="column">
			<p style="line-height:10%"><h2>Player Stats</h2></p>
			<p class="stats" id="playerstats"></p>
			<script>
			var playerstatslist = {{PrintPlayerStats|tojson}};
			var text = "";
			var i;
			for (i = 0; i < playerstatslist.length; i++) {
				text += playerstatslist[i] + "<br>";
				}
			document.getElementById("playerstats").innerHTML = text;
			</script>
		</div>
		<div class="column">
			<p style="line-height:10%"><h2>Enemy Stats</h2></p>
			<p class="stats" id="enemystats"></p>
			<script>
			var enemystatslist = {{PrintEnemyStats|tojson}};
			var text = "";
			var i;
			for (i = 0; i < enemystatslist.length; i++) {
				text += enemystatslist[i] + "<br>";
				}
			document.getElementById("enemystats").innerHTML = text;
			</script>
		</div>
	</div>
	<br> <a href="{{ url_for('RPGStats') }}">Click Here to See the Stats!</a> <br>
	<div class="row">
		<!-- <p> The {{winner}} team has won!!</p> I need to send the winner variable from the python code -->
		<div class="column">
			<div class="chart" id="combathitpoints" style="display:none">
				<script>
					var graphs3 = {{graphJSONcombathitpoints | safe}};
					Plotly.plot('combathitpoints',graphs3,{});        
				</script>
			</div>
		</div>
		<div class="column">
			<div class="chart" id="combatendurance" style="display:none" >
				<script>
					var graphs4 = {{graphJSONcombatendurance | safe}};
					Plotly.plot('combatendurance',graphs4, {});     
				</script>
			</div>
		</div>
	</div>
{% endblock %}
